<div class="product">
	<div class="product__header">
		<h1 class="product__header__title">Las 10 mejores Barras De Sonido En España</h1>
		<p class="product__header__declaration">Declaración de divulgación publicitaria</p>
		<div class="product__header__labels">
			<span>Producto</span>
			<span>Nuestra Puntuación</span>
			<span>Caracteristicas Clave</span>
			<span></span>
		</div>
	</div>
	<div class="product__items">
		{% for product in products %}
			<div class="product__items__item">
				<div class="product__items__item__specs">
					<div class="product__items__item__specs__image-container">
						<span class="product__items__item__specs__image-container__rank">#{{ product.rank }}</span>
						<img class="product__items__item__specs__image-container__image" src="{{ product.image }}"/>
					</div>
					<div class="product__items__item__specs__score">
						{% include 'product/score.html.twig' with {'scoreData': product.score_data} %}
					</div>
					<div class="product__items__item__specs__details">
						<p class="product__items__item__specs__details__title">{{ product.title }}</p>
						<p class="product__items__item__specs__details__brand">{{ product.brand }}</p>
						{% if product.saving %}
							<p class="product__items__item__specs__details__saving">{{ product.saving }}% Descuento</p>
						{% endif %}
						<button class="product__items__item__specs__details__button-more">Mostrar más
							<i class="product__items__item__specs__details__button-more__arrow"></i>
						</button>
					</div>
					<div class="product__items_item_specs__buy">
						{% include('product/buy_button.html.twig') %}
					</div>
				</div>
				<div class="product__items__item__description">
					<div class="product__items__item__description__text">
						<ul>
							{% for description in product.descriptions %}
								<li>{{ description }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="product__items__item__description__buy">
						{% include('product/buy_button.html.twig') %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
